pkg
Makefile
*.o
*.lo
*.la
.deps
.libs
aclocal.m4
autom4te.cache
compile
config.log
config.status
libtool
src/sigar_version_autoconf.c
examples/cpuinfo
examples/sigar_ps
debian/*.log
debian/stamp-*
debian/tmp
m4/
debian/python-sigar*
debian/python-module-stampdir
debian/*.debhelper
debian/*.substvars
debian/libsigar1/
debian/libsigar1-dev/
debian/libsigar-java-doc/
debian/libsigar-java/
debian/files
bindings/java/${dist}
bindings/python/build
/tags
